section.calculator.main-calculator
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row
			.column.medium-3.small-12

				.calculator__buttons
					.calculator__buttons__item.vk-button.selected
						a(href="#" data-social="vk")
							+svg('vk')
							span Вконтакте
					.calculator__buttons__item.fb-button
						a(href="#" data-social="fb")
							+svg('fb')
							span Facebook
					.calculator__buttons__item.ok-button
						a(href="#" data-social="ok")
							+svg('ok')
							span Одноклассники
					.calculator__buttons__item.insta-button
						a(href="#" data-social="insta")
							+svg('insta')
							span Instagram
					.calculator__buttons__item.tw-button
						a(href="#" data-social="tw")
							+svg('tw')
							span Twitter
					//-.calculator__buttons__item.yt-button
					//-	a(href="#")
					//-		+svg('yt')
					//-		span Youtube
					//-.calculator__buttons__item.gp-button
					//-	a(href="#")
					//-		+svg('gl')
					//-		span Google +


			.column.medium-9.small-12

				.calculator-wrapper(data-social="fb")

					.row
						.column.small-12

							.calculator__budget(data-slider-type="fb")
								.captions
									.caption Ваш бюджет, руб.
									.price 30 000

								.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="60000" data-step="20")
									.slider-handle(data-slider-handle role="slider" tabindex="1")
									.slider-fill(data-slider-fill)

					.calculator__packs

						.calculator__result(data-pack-type="reposts")
							.name Поделиться
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

						.calculator__result(data-pack-type="likes")
							.name Лайки
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

				.calculator-wrapper(data-social="vk")

					.row
						.column.small-12

							.calculator__budget(data-slider-type="vk")
								.captions
									.caption Ваш бюджет, руб.
									.price 30 000

								.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="6000" data-step="20")
									.slider-handle(data-slider-handle role="slider" tabindex="1")
									.slider-fill(data-slider-fill)

					.calculator__packs

						.calculator__result(data-pack-type="followers")
							.name Подписчики
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

						.calculator__result(data-pack-type="likes")
							.name Лайки
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

				.calculator-wrapper(data-social="insta")
					.row
						.column.small-12

							.calculator__budget(data-slider-type="insta")
								.captions
									.caption Ваш бюджет, руб.
									.price 30 000

								.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="5290" data-step="20")
									.slider-handle(data-slider-handle role="slider" tabindex="1")
									.slider-fill(data-slider-fill)

					.calculator__packs

						.calculator__result(data-pack-type="followers")
							.name Подписчики (боты)
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

						.calculator__result(data-pack-type="likes")
							.name Лайки (боты)
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

				.calculator-wrapper(data-social="ok")
					.row
						.column.small-12

							.calculator__budget(data-slider-type="ok")
								.captions
									.caption Ваш бюджет, руб.
									.price 30 000

								.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="34000" data-step="20")
									.slider-handle(data-slider-handle role="slider" tabindex="1")
									.slider-fill(data-slider-fill)

					.calculator__packs

						.calculator__result(data-pack-type="followers")
							.name Поделиться
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

						.calculator__result(data-pack-type="likes")
							.name Лайки
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

				.calculator-wrapper(data-social="tw")
					.row
						.column.small-12

							.calculator__budget(data-slider-type="tw")
								.captions
									.caption Ваш бюджет, руб.
									.price 30 000

								.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="9000" data-step="20")
									.slider-handle(data-slider-handle role="slider" tabindex="1")
									.slider-fill(data-slider-fill)

					.calculator__packs

						.calculator__result(data-pack-type="followers")
							.name Подписчики
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

						.calculator__result(data-pack-type="reposts")
							.name Ретвиты
							.count 0
							a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

