section.calculator.calculator--insta.calculator--custom
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row.align-middle
			.column.medium-3.small-12

				.calculator__big-icon
					+svg('insta')


			.column.medium-9.small-12

				.row
					.column.small-12

						.calculator__budget
							.captions
								.caption Ваш бюджет, руб.
								.price 30 000

							.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="5000" data-step="10")
								.slider-handle(data-slider-handle role="slider" tabindex="1")
								.slider-fill(data-slider-fill)

				.calculator__packs

					.calculator__result
						.name Боты
						.count 2000
						.caption Лайков или подписчиков
						a(href="#").button.expanded Заказать

					.calculator__result
						.name Боты
						.count 2000
						.caption Лайков или подписчиков
						a(href="#").button.expanded Заказать

					.calculator__result
						.name Живые люди
						.count 500
						.caption Подписчиков
						a(href="#").button.expanded Заказать

