section.calculator.calculator--tw.calculator--custom(data-type="tw")
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row
			.column.medium-4.small-12

				h5 Подписчики в Twitter

				.calculator__pack-buttons
					+payButton('подписчиков в Twitter', 100, 90)
					+payButton('подписчиков в Twitter', 200, 180)
					+payButton('подписчиков в Twitter', 300, 220)
					+payButton('подписчиков в Twitter', 400, 260)
					+payButton('подписчиков в Twitter', 500, 290)
					+payButton('подписчиков в Twitter', 600, 340)
					+payButton('подписчиков в Twitter', 700, 390)
					+payButton('подписчиков в Twitter', 800, 420)
					+payButton('подписчиков в Twitter', 1000, 490)
					+payButton('подписчиков в Twitter', 5000, 1390)
					+payButton('подписчиков в Twitter', 10000, 2190)
					+payButton('подписчиков в Twitter', 50000, 8900)

			.column.medium-4.small-12

				h5 Ретвиты в Twitter

				.calculator__pack-buttons
					+payButton('ретвитов в Twitter', 100, 90)
					+payButton('ретвитов в Twitter', 200, 180)
					+payButton('ретвитов в Twitter', 300, 220)
					+payButton('ретвитов в Twitter', 400, 260)
					+payButton('ретвитов в Twitter', 500, 290)
					+payButton('ретвитов в Twitter', 600, 340)
					+payButton('ретвитов в Twitter', 700, 390)
					+payButton('ретвитов в Twitter', 800, 420)
					+payButton('ретвитов в Twitter', 1000, 490)
					+payButton('ретвитов в Twitter', 5000, 1390)
					+payButton('ретвитов в Twitter', 10000, 2190)
					+payButton('ретвитов в Twitter', 50000, 8900)


			.column.medium-4.small-12

				h5 Калькулятор

				.row
					.column.small-12

						.calculator__budget(data-slider-type="tw")
							.captions
								.caption Ваш бюджет, руб.
								.price 30 000

							.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="9000" data-step="20")
								.slider-handle(data-slider-handle role="slider" tabindex="1")
								.slider-fill(data-slider-fill)

				.calculator__packs

					.calculator__result(data-pack-type="followers")
						.name Подписчики
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

					.calculator__result(data-pack-type="reposts")
						.name Ретвиты
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

