section.calculator.calculator--vk.calculator--custom(data-type="vk")
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row
			.column.medium-4.small-12

				h5 Подписчики Вконтакте

				.calculator__pack-buttons
					+payButton('100 подписчиков в ВК', 1, '100шт. - 300₽')
					+payButton('200 подписчиков в ВК', 1000, '200шт. - 1000₽')

			.column.medium-4.small-12

				h5 Лайки Вконтакте

				.calculator__pack-buttons
					+payButton('100 лайков в ВК', 5, '100шт. - 5₽')
					+payButton('200 лайков в ВК', 100, '200шт. - 100₽')


			.column.medium-4.small-12

				h5 Калькулятор

				.row
					.column.small-12

						.calculator__budget(data-slider-type="vk")
							.captions
								.caption Ваш бюджет, руб.
								.price 30 000

							.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="6000" data-step="20")
								.slider-handle(data-slider-handle role="slider" tabindex="1")
								.slider-fill(data-slider-fill)

				.calculator__packs

					.calculator__result(data-pack-type="followers")
						.name Подписчики
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

					.calculator__result(data-pack-type="likes")
						.name Лайки
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

