section.calculator.calculator--vk.calculator--custom
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row
			.column.medium-4.small-12

				h5 Подписчики Вконтакте

				.calculator__pack-buttons
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽

			.column.medium-4.small-12

				h5 Лайки Вконтакте

				.calculator__pack-buttons
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽
					a(href="#").button.calculator__pack-buttons__item 100шт. - 300₽
					a(href="#").button.calculator__pack-buttons__item 200шт. - 580₽


			.column.medium-4.small-12

				.row
					.column.small-12

						.calculator__budget
							.captions
								.caption Ваш бюджет, руб.
								.price 30 000

							.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="5000" data-step="10")
								.slider-handle(data-slider-handle role="slider" tabindex="1")
								.slider-fill(data-slider-fill)

				.calculator__packs

					.calculator__result
						.name Подписчики
						.count 2000
						a(href="#").button.expanded Заказать

					.calculator__result
						.name Лайки
						.count 500
						a(href="#").button.expanded Заказать

