section.calculator.calculator--vk.calculator--custom(data-type="vk")
	.site-container
		h2.text-center Узнай, что можешь получить за свои деньги

		.row.first-row
			.column.medium-4.small-12

				h5 Подписчики Вконтакте

				.calculator__pack-buttons
					+payButton('подписчиков в ВК', 100, 300)
					+payButton('подписчиков в ВК', 200, 580)
					+payButton('подписчиков в ВК', 300, 850)
					+payButton('подписчиков в ВК', 400, 1100)
					+payButton('подписчиков в ВК', 500, 1340)
					+payButton('подписчиков в ВК', 600, 1560)
					+payButton('подписчиков в ВК', 700, 1760)
					+payButton('подписчиков в ВК', 1000, 2300)
					+payButton('подписчиков в ВК', 5000, 10500)
					+payButton('подписчиков в ВК', 10000, 17890)

			.column.medium-4.small-12

				h5 Лайки Вконтакте

				.calculator__pack-buttons
					+payButton('лайков в ВК', 100, 100)
					+payButton('лайков в ВК', 200, 190)
					+payButton('лайков в ВК', 300, 250)
					+payButton('лайков в ВК', 400, 300)
					+payButton('лайков в ВК', 500, 360)
					+payButton('лайков в ВК', 600, 410)
					+payButton('лайков в ВК', 700, 460)
					+payButton('лайков в ВК', 1000, 700)
					+payButton('лайков в ВК', 5000, 3350)
					+payButton('лайков в ВК', 10000, 6000)


			.column.medium-4.small-12

				h5 Калькулятор

				.row
					.column.small-12

						.calculator__budget(data-slider-type="vk")
							.captions
								.caption Ваш бюджет, руб.
								.price 30 000

							.slider.j-budget-slider(data-slider data-start="50" data-initial-start="500" data-end="6000" data-step="20")
								.slider-handle(data-slider-handle role="slider" tabindex="1")
								.slider-fill(data-slider-fill)

				.calculator__packs

					.calculator__result(data-pack-type="followers")
						.name Подписчики
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

					.calculator__result(data-pack-type="likes")
						.name Лайки
						.count 0
						a(href="#" data-caption="" data-sum="").button.expanded.j-order-btn Заказать

