//- seo text
section.content
	.site-container
		h2.text-center Зачем это нужно?

		.row
			.column.medium-5
				img(src="images/content/like.png")
			.column.medium-7
				h4 Мы верим в поисковое продвижение сайтов и органический трафик
				p Если вам необходимо увеличить продажи, мы знаем, как это сделать. За последние несколько лет поисковая оптимизация сайтов претерпела серьезные изменения, но факт остается фактом — трафик из результатов поиска имеет самую большую конверсию. Именно поэтому мы видим перспективу этого канала продаж, независимо от новых алгоритмов ранжирования поисковых систем, которые меняют наш подход к такой услуге, как продвижение сайта. Если вы спросите ваших партнеров, у которых уже есть опыт успешных SEO-кампаний, то скорее всего услышите, что высокие позиции в поисковой выдаче по целевым запросам дают колоссальный всплеск обращений клиентов.
				h4 Мы специализируемся только на одной услуге — SEO (Search Engine Optimization)
				p Раскрутка сайта — предметная область, в которой ежедневно работает вся наша команда, является для нас изученной на практике средой, вместе со своими особенностями, постоянными изменениями и динамикой. Раскрутка сайтов, их продвижение — это не реклама, а предоставление персонализированной информации по конкретному запросу в выдаче, которая необходима человеку прямо сейчас. Вам нужны «горячие» клиенты? Получение посетителей из поисковиков — это успешная продажа на 99%. Именно продвижение сайтов позволяет достичь впечатляющих результатов.

