section.features
	h2= featuresHeader1

	.row.small-up-1.medium-up-2.large-up-3
		.column
			.features__item
				img(src="images/speed.png")
				.title Быстро
				.caption Вы размещаете задание, указав, какие действия требуются. Огромное количество исполнителей уже ждут, чтобы оставить свой лайк, репост и подписаться. Этим вы привлечете целевую аудиторию в группу, которая будет покупать ваш товар/услугу.
		.column
			.features__item
				img(src="images/piggy-bank.png")
				.title Дешево
				.caption Наши цены ниже среднерыночных в данной сфере. Более того, мы всегда проводим интересные акции и дарим бонусы.
		.column
			.features__item
				img(src="images/shield.png")
				.title Безопасно
				.caption Нам не нужны ваши пароли. Достаточно указать ссылку для работы. Надежный проверенный сервис с минимальным риском получить "бан".
		.column
			.features__item
				img(src="images/tick.png")
				.title Просто
				.caption Сервис прост в использовании. Вам нужно указать, что вы хотите и дать ссылку. Все остальное мы делаем сами. Вы получаете результат.
		.column
			.features__item
				img(src="images/magic.png")
				.title Эффектно
				.caption Ваша группа, профиль или бизнес быстро станет узнаваемым. Сервис для раскрутки подходит для бизнесменов и энтузиастов.
		.column
			.features__item
				img(src="images/like.png")
				.title Качество
				.caption Наш сервис пользуется огромной популярностью. Им пользуются тысячи довольных пользователей и получают живое продвижение.

