section.features
	.row
		.column.large-3.medium-6.small-12
			.features__item
				img(src="images/features-1.png")
				.title Повышение лояльности
				.caption Много лайков и фоловеров даст понять, что с вами интересно работать или общаться.
		.column.large-3.medium-6.small-12
			.features__item
				img(src="images/features-2.png")
				.title Активность 24/7
				.caption Ваш профиль постоянно обсуждаем и в центре внимания благодаря старым фоловерам.
		.column.large-3.medium-6.small-12
			.features__item
				img(src="images/features-3.png")
				.title Виральный контент
				.caption Ваш профиль постоянно обсуждаем и в центре внимания благодаря старым фоловерам.
		.column.large-3.medium-6.small-12
			.features__item
				img(src="images/features-4.png")
				.title Выход в топ
				.caption Большое количество посещений  способствует индексации в поисковиках и выходу в топ.


