footer.footer
	.site-container
		.row
			.column.large-3.medium-6.small-12

				a.logo(href="/")
					span.logo-icon-wrapper
						span.logo__back
						span.logo__person.animated.bounceInUp
							i.icon.icon-logo-person
						span.logo__glasses.animated.rotateInDownLeft
							i.icon.icon-logo-glasses
					span.logo__text Laika

				span.logo__slogan Эффективное и быстрое продвижение в социальных сетях

			.column.large-3.medium-6.small-12

				h6 Соцсети для продвижения:

				ul
					li
						a(href="#") Facebook
					li
						a(href="#") ВКонтакте
					li
						a(href="#") Одноклассники
					li
						a(href="#") Instagram
					li
						a(href="#") Twitter

			.column.large-3.medium-6.small-12

				h6 Контакты

				.footer__contacts
					a(href="tel:88003000500").phone 8 800 3000 500
					a(href="email:info@turbolaika.ru").email info@turbolaika.ru

			.column.large-3.medium-6.small-12

				h6 Мы в соцсетях

				.footer__socials

					a(href="#" target="_black" title="Facebook")
						+svg('fb')

					a(href="#" target="_black" title="ВКонтакте")
						+svg('vk')

					a(href="#" target="_black" title="Одноклассники")
						+svg('ok')

					a(href="#" target="_black" title="Instagram")
						+svg('insta')

					a(href="#" target="_black" title="Twitter")
						+svg('tw')