section.instruments
	.site-container

		h2.text-center Наши инструменты для привлечения аудитории

		.row.small-up-1.medium-up-3.large-up-5
			.column
				.instruments__item
					i.icon.icon-instruments-1
					span Бонусы
			.column
				.instruments__item
					i.icon.icon-instruments-2
					span Активные приглашения
			.column
				.instruments__item
					i.icon.icon-instruments-3
					span Реклама
			.column
				.instruments__item
					i.icon.icon-instruments-4
					span Публикации в группах, на лучших страницах
			.column
				.instruments__item
					i.icon.icon-instruments-5
					span Рекомендации друзей