a.logo(href="/")
	span.logo-icon-wrapper
		span.logo__back
		span.logo__person.animated.bounceInUp
			i.icon.icon-logo-person
		span.logo__glasses.animated.rotateInDownLeft
			i.icon.icon-logo-glasses
	span.logo__text Laika