section.our-works

	h2.text-center.-white Примеры работ

	.our-works-slider.owl-carousel

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней

		.item
			a(href="#")
				img(src="http://placehold.it/350x150")
				span Накрутка подписчиков с 1000 до 10000 за 7 дней