section.our-clients

	h2.text-center Наши клиенты

	.site-container

		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")
		a(href="#").our-clients__item
			img(src="http://placehold.it/185x185")