.popup-outer

.popup.j-order-popup.animated.fadeInDown
	h2.text-center Оформление заказа

	p Для продолжения оформления заказа укажите ссылку на группу или страницу.

	form
		input#orderLinkInput(type="text" placeholder="Ссылка" name="link")
		input(type="button" value="Перейти к оформлению заказа").button.expanded.j-to-pay-btn