section.reviews
	.site-container

		h2.text-center= reviewHeader2

		.reviews__item.media-object
			.media-object-section
				h4 Антон П.
				p Занимаюсь продажей гироскутеров. Есть сайт, через который реализую технику. Но клиентов много не бывает, поэтому создал тематическую группу. Чтобы начать ее как следует раскручивать, понадобились качественные участники. Заказал на Laika. Быстро набрал участников. Теперь группа растет естественным путем, однако регулярно заказываю репосты. Продажи выросли более чем на 30% за 2 месяца.


		.reviews__item.media-object
			.media-object-section
				h4 Алина М.
				p Наращиваю волосы, но клиентов мало. В группе было около 100 человек и то не целевая аудитория. Публиковала интересные материалы, мастер-классы, видео, но откликов "0". Времени и опыта, чтобы раскрутить группу не было. Из многих сервисов выбрала вас. Понравились цены и защита от бана. Накрутили участников, лайки, репосты. Дело сдвинулось с мертвой точки! Стала группа популярной, плюс стали появляться клиенты на мои услуги в нашем городе.


		.reviews__item.media-object
			.media-object-section
				h4 Наталья О.
				p Благодарю Лайку за помощь в накрутке лайков и т. д. Я администратор в группе о похудении. Участников много, но иногда активность очень низкая. Чтобы завести аудиторию, заказываю здесь различные действия пользователей. Всегда все честно и по совести. Работаем дальше!


		.reviews__item.media-object
			.media-object-section
				h4 Алексей К.
				p Мне нравится вести бизнес Вконтакте! Нравится, заказывать лайки для своих фоток, репосты, комменты. Сейчас создаю третью группу, буду раскручивать и продвигать снова через вашу площадку. При раскрутке первой группы столкнулся с большими проблемами, когда пользовался другим сервисом. Лайка уже стал родным и доказал на деле свою надежность.
