section.site-counters
	h2.-white Сервис в цифрах

	.row.large-up-3.small-up-1
		.column
			.site-counters__item
				.image
					+svg('peoples')
				.text
					.count 6,987
					.caption Подписчики наших клиентов
		.column
			.site-counters__item
				.image
					+svg('like')
				.text
					.count 35,211
					.caption Лайки наших пользователей
		.column
			.site-counters__item
				.image
					+svg('repost')
				.text
					.count 1,824
					.caption Репостов в соцсетях