section.steps
	.site-container
		h2.text-center= stepsHeader1

		.row.medium-up-4.small-up-1
			.column
				.steps__item
					.step 1
					.caption Выберите необходимую функцию. Нажимаете кнопку «Заказать».
			.column
				.steps__item
					.step 2
					.caption В выпадающем окне введите ссылку на страничку/группу/запись.
			.column
				.steps__item
					.step 3
					.caption Перейдите к оформлению заказа и выберите метод оплаты и завершите покупку.
			.column
				.steps__item
					.step.step--transparent
						+svg('star')
					.caption Получайте результат 24 часа в сутки, 7 дней в неделю.