section.steps
	.site-container
		h2.text-center 3 шага навстречу популярности

		.row.medium-up-3.small-up-1
			.column
				.steps__item
					.step 1
					.caption Выберите необходимое количество лайков/фоловеров/репостов и нажимаете кнопку «Заказать».
			.column
				.steps__item
					.step 2
					.caption В выпадающем окне введите ссылку на страничку/группу/запись и перейдите к оформлению заказа.
			.column
				.steps__item
					.step 3
					.caption В разделе оплата от ROBOKASSA выберите метод оплаты и завершите покупку.