section.steps
	.site-container
		h2.text-center 3 шага навстречу популярности

		.row.medium-up-3.small-up-1
			.column
				.steps__item
					.step 1
					.caption Вы выбираете количество лайков\фоловеров\репостов и нажимаете кнопку «Заказать».
			.column
				.steps__item
					.step 2
					.caption В разделе оплата указываете ссылку на профиль в социальной сети и оформляете заказ
			.column
				.steps__item
					.step 3
					.caption В разделе оплата указываете ссылку на профиль в социальной сети и оформляете заказ