// Google Analytics
script.
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
		a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-85098018-1', 'auto');
	ga('send', 'pageview');


// Yandex
script.
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function () {
			try {
				w.yaCounter40109275 = new Ya.Metrika({
					id: 40109275,
					clickmap: true,
					trackLinks: true,
					accurateTrackBounce: true,
					webvisor: true,
					trackHash: true
				});
			} catch (e) {
			}
		});

		var n = d.getElementsByTagName("script")[0],
						s = d.createElement("script"),
						f = function () {
							n.parentNode.insertBefore(s, n);
						};
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})
	(document, window, "yandex_metrika_callbacks");
noscript
	div
		img(src="https://mc.yandex.ru/watch/40109275" style="position:absolute; left:-9999px;" alt = "")


// VK Chat
script(src='//vk.com/js/api/openapi.js?133')
#vk_community_messages
script(type='text/javascript').
	VK.Widgets.CommunityMessages("vk_community_messages", 13776928, {});
