- var projectName = 'Турболайка - продвижение в социальных сетях, лайков накрутка, ведение групп'
- var projectDescription = 'Мы увеличим численность потенциальных клиентов. Вам всего лишь нужно выбрать количество лайков или подписчиков и в течении 2-3 дней сотрудники turbo-laika.ru качественно сделаю свою работу!'
- var projectKeywords = 'накрутка, накрутка лайков, накрутка подписчиков, продвижение в социальных сетях, продвижение в соц сетях, много подписчиков, много лайков, купить лайки, купить подписчиков, лайки накрутка, накрутка подписчиков в группу, накрутка лайков и подписчиков'
- var projectColor = '#a5b8c9'