- var projectName = 'Турболайка - продвижение в социальных сетях, лайков накрутка, ведение групп'
- var projectDescription = 'Мы увеличим численность потенциальных клиентов. Вам всего лишь нужно выбрать количество лайков или подписчиков и в течении 2-3 дней сотрудники turbo-laika.ru качественно сделаю свою работу!'
- var projectKeywords = 'накрутка, накрутка лайков, накрутка подписчиков, продвижение в социальных сетях, продвижение в соц сетях, много подписчиков, много лайков, купить лайки, купить подписчиков, лайки накрутка, накрутка подписчиков в группу, накрутка лайков и подписчиков'
- var projectColor = '#a5b8c9'

//- Различные заголовки

- var mainOffer1 = 'Быстрое и безопасное продвижение в соц сетях проверенным сервисом'
- var mainOffer2 = 'Сделаем вашу группу популярной и узнаваемой!'
- var mainOffer3 = 'Быстрое развитие бизнеса в социальных сетях'

- var subOffer = 'Активная накрутка лайков, живых подписчиков, репостов, привлечение аудитории в группы'

- var calcHeader1 = 'Удобный моментальный расчет бюджета!'
- var calcHeader2 = 'Умный калькулятор для расчета бюджета'
- var calcCaption = 'Вы сами контролируете и рассчитываете свой бюджет! Это отличная возможность видеть наглядно, сколько денег вы потратите на то, или иное поручение. Установите бегунок на нужную сумму и смотрите, сколько полезного вы получите за эти деньги.'

- var reviewHeader1 = 'Смотрите наши последние отзывы'
- var reviewHeader2 = 'Отзывы наших клиентов'

- var stepsHeader1 = 'Как начать получать подписчиков и лайки'
- var stepsHeader2 = 'Как мы будем работать'

- var featuresHeader1 = 'Почему Турболайка - лучший в своем сегменте сервис?'
- var featuresHeader12 = 'Чем привлекает наш сервис тысячи людей?'