mixin payButton(caption, count, sum)
	- var btnCaption = count + 'шт. - ' + sum + '₽'
	- var title = count + ' ' + caption
	a(href="#" data-caption=title title=title data-sum=sum).button.calculator__pack-buttons__item.j-order-btn !{btnCaption}