.hero
  background: url("../images/hands.png") center bottom no-repeat
  padding: 50px 20px 350px
  color: $white
  text-align: center

  h1
    font-size:  38px
    line-height: 44px
    font-weight: 300
    max-width: 1020px
    margin: 0 auto
    color: $white
    text-shadow: 0 0 7px rgba($black, 0.2)
    +breakpoint(medium)
      font-size: 60px
      line-height: 65px