.hero
  background: $cyan-color url("../images/hands.png") center bottom no-repeat
  padding: 50px 20px 350px
  color: $white
  text-align: center

  h1
    font-size: 60px
    font-weight: 300
    line-height: 65px
    max-width: 1020px
    margin: 0 auto