.main-menu
  color: $white
  +breakpoint(small only)
    margin-top: $vertical-gutter

  .icon
    fill: $white
    height: 15px
    width: 100%

  &__title
    font-size: 14px
    font-weight: 500
    line-height: 28px
    text-transform: uppercase
    margin:
      top: $vertical-gutter
      bottom: $vertical-gutter
    +breakpoint(medium)
      margin-top: 0
      line-height: 65px

  &__item
    display: inline-block
    vertical-align: middle
    +breakpoint($header-breakpoint)
      text-align: center
      &:not(:last-child)
        margin:
          left: $vertical-gutter
          right: $vertical-gutter


  &__social-icon
    display: inline-block
    vertical-align: middle
    width: 34px
    height: 34px
    text-align: center
    line-height: 34px
    border-radius: 50%
    margin-right: 9px

  &__social-caption
    font-size: 15px
    font-weight: 500
    color: $white
    +breakpoint(small only)
      display: none

// Inner page settings
body.inner-page

  .header
    padding-bottom: $vertical-gutter
    background: $white
    color: $black
    &__contacts
      a
        color: $black

    .logo
      &__back
        background: #bbb
      &__text
        color: $black

  .main-menu

    &__title
      color: $black
      line-height: 24px
      margin:
        top: $vertical-gutter
        bottom: $vertical-gutter / 2

    &__social-caption
      color: $black

