include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
	include pug/metatags.pug
	+title('Главная')
	include pug/styles.pug
	include pug/scripts.pug
body
	include pug/svg.pug

	section.head

		include pug/includes/header.pug
		include pug/includes/hero.pug
		include pug/includes/feadtures.pug
		include pug/includes/site-counters.pug
		include pug/includes/calculator.pug
		include pug/includes/our-works.pug
		include pug/includes/our-clients.pug