include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="ru")
	include pug/metatags.pug
	+title('Instagram')
	include pug/styles.pug
	include pug/scripts.pug
body.inner-page
	include pug/svg.pug

	section.head

		include pug/includes/header.pug
		include pug/includes/calculator-insta.pug


	include pug/includes/site-counters.pug
	include pug/includes/steps.pug
	include pug/includes/instruments.pug
	include pug/includes/content.pug

	include pug/includes/footer.pug
